@{
    ViewBag.Title = "Logout";
}

<h2>You have been logged out</h2>
<p>Thank you for visiting. You have successfully logged out.</p>
<p><a href="@Url.Action("Login", "Account")">Click here</a> to login again.</p>
on("Login", "Account")">Click here</a> to login again.</p>