
@{
    ViewBag.Title = "View3";
}

<h2>View3</h2>

<div>
    <h3> 
        This is an example Page 3
    </h3>
</div>
<div>
    <p>
        <img src="pic_trulli.jpg" alt="Trulli" width="500" height="333">
    </p>
</div>